<h1><span class="glyphicon glyphicon-arrow-right"></span> Events</h1>
<p>We meet every week during term time on Wednesday at 6pm in Room 205, Meston &mdash; anyone is welcome to join us, and membership is free so we'll get you signed up in no time! Our weekly meeting could include a talk, discussion, code jam, social, gaming night, trip out to an external event, tutorial or workshop. There's more about what we get up on on our <a href="/about">about us</a> page. If you have a great idea for an event then <a href="/contact_us">get in touch with the committee</a> and we'll try to make it happen!</p>
<h2>Calendar</h2>
<p>Specific event details can change from when they're first listed, so keep checking back here or sign yourself up to our mailing list <a href="http://lists.aucs.org.uk/cgi-bin/mailman/listinfo/aucs-discuss">over here</a>.</p>
<br>



<div id="events" >
<% today = Date.today %>
<% Event.where('date >= :date',date: today).each do |p| %>
<% @p = p %>
<%= render 'event' %>
<%end%>

</div>
	


