<div class="row">
	<div class="col-md-12">
		<h1><span class="glyphicon glyphicon-console"></span>  Contact us <small>--committee, mailing lists, chat</small></h1>
		<p>It's really easy to keep in touch now because we're all over the Internet. <strong>Our new domain is aucs.org.uk</strong> &mdash; so if you got here from a search engine, make sure to update your bookmarks. If the kittens have divided our server by zero again, or you're feeling particularly social, then tweet to us <a href="https://twitter.com/AUCompSoc">@AuCompSoc</a> or hit the buttons below to get in on the discussion between members and influence future events. Alternatively, feel free to send off an email to one of our committee members.</p>
	</div>
</div>

<div class="row callto-feature callto-feature-social">
	<h2>Join the discussion:</h2>
	<div class="col-md-4 callto-feature-box callto-feature-box-social">
		<a href="http://lists.aucs.org.uk/cgi-bin/mailman/listinfo/aucs-discuss"><button type="button" class="btn btn-lg btn-default"><%= image_tag("social_button_email_icon.png") %><br>lists.aucs.org.uk</small></button></a>
	</div>
	<hr />
	<div class="col-md-4 callto-feature-box callto-feature-box-social">
		<a href="https://www.facebook.com/groups/aucssoc/"><button type="button" class="btn btn-lg btn-default"><%= image_tag("social_button_facebook_icon.png") %><br><small>/groups/aucssoc/</small></button></a>
	</div>
	<hr />
	<div class="col-md-4 callto-feature-box callto-feature-box-social">
		<a href="https://twitter.com/AUCompSoc"><button type="button" class="btn btn-lg btn-default"> <%= image_tag("social_button_twitter_icon.png") %> <br><small>/AUCompSoc</small></button></a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Committee</h2>
		<p>Committee members are the first point of contact for the society (aside from, you know, just turning up to one of our events and having a chat) and are students elected each year at our Annual General Meeting. You can get in touch using the details below.
		<h3>President
		<br><small>Responsible for the promotion, smooth running and organisation of the society.</small></h3>
		<p>Dean Brooks &mdash; <a href="president@aucs.org.uk">president@aucs.org.uk</a></p>
		<h3>Secretary
		<br><small>Takes care of administrative functions, such as mailing out important stuff to members.</small></h3>
		<p>Position is currently open to interest (July 2015) &mdash; contact the President for more information.</p>
		<h3>Treasurer
		<br><small>Looks after the society's accounts, orders things, and counts the pennies in our donations tin daily.</small></h3>
		<p>Marcel Žák &mdash; <a href="treasurer@aucs.org.uk">treasurer@aucs.org.uk</a></p>
	</div>
</div>