/* the blog page */

.blog h1 {
 color: black;
 padding: 15px;
}

/* css for one blog post */

.post{
background-color: #F3EFE0;
margin: 25px;
border: 1px solid #eee8d2;

}

.post h2, h4{
padding-bottom:5px;
text-align:center;
}

.header{
color: #2D8595;
font-weight: 700;
}

.title{
display: block;
text-align:center;
padding-top: 7px;
padding-bottom: 7px;
background-color: #2D8595;
}

.title h2{
display: inline;
text-align:center;
font-size: 30px;
margin-left: 4px;
color: white;
}

.dash {
color: white;
display: inline;
}

#text{
margin-left: 35px;
margin-right: 25px;
margin-bottom: -20px;
}


.dir-btns a{
border: none;
color: red;
text-decoration: none;
display: inline-block;

}

a:active {
border: none;

}

.dir-btns{
text-align:center;
}

.link-prev{
display:inline-block;
font-size: 1.70em;
margin-right: 25px;
}

.link-next{
display:inline-block;
font-size: 1.75em;
}

.location{
padding: 5px;
margin-bottom: -10px;
background-color: #E62814;
}

.location{
color: white;
font-weight: 700;
}


/* admin page */

.btn-success{
margin-bottom: 20px;
width: 250px;
}

.btn-warning  {
padding: 8px 15px 8px 15px;
}

#p-list-btn{
background-color: #0094FF;
}

#p-list-btn:hover{
background-color: #0072C4;
}

.search_field{
width: 50%;
}

#found_post, #found_event{
 margin-top: 30px; 
 width: 50%; 
 text-align: center;
}

#found_post h3, #found_event h3{
color: red;
}

#time{
margin-top: -8px;
}

/* list page */

.list-view{width: 65%;}

.list-view p{display: inline;}

.list-view h2{margin: 0px 0px 25px 0px;}

#links{
display: inline;
float: right;
}


