<footer class="footer">
	  <div class="container">
		<div class="row">
		  <div class="col-md-10">
			<p>Proudly powered by kittens. <span class="text-muted">Last updated at 00:00 on 01/01/01</span>.</p>
			<p class="text-muted">This website is maintained by the Aberdeen University Computing Science Society. The opinions expressed on this website are not necessarily the opinions of the Computing Science Department or the University of Aberdeen.</p>
		  </div>
		  <div class="col-md-2">
			<p class="text-right"><a href="#top">Back to top &uarr;</a></p>
		  </div>
		</div>
	  </div>
	</footer>
