<div class="module module-event">
  
    <div class="row">
      <div class="col-md-9">
        <h3><span class="glyphicon glyphicon-arrow-right"></span> What's next?</h3>
        <p>Trip out to TechMeetup</p>
        <span class="event-details">
          <p><span class="glyphicon glyphicon-calendar"></span> <strong>6PM, WED, 20 MAY 2015</strong></p>
          <p><span class="glyphicon glyphicon-globe"></span> Room 205, Meston Building, University of Aberdeen</p>
        </span>
      </div>
      <div class="col-md-3 module-event-nav-details">
		 <%= link_to "<span class='glyphicon glyphicon-chevron-right'></span> More info".html_safe, "/events" %>
      </div>
    </div>
</div>
