<div class="module module-twitter">
	<a class="twitter-timeline"  href="https://twitter.com/AUCompSoc" data-widget-id="245285658732662784">Tweets by @AUCompSoc</a>
	 <script src="//platform.twitter.com/widgets.js"></script>
</div>